.store_splitScreen {
  display: flex;
  flex-direction: row;
  margin: 80px 8px;
}

.store_cardSucess {
  background-color: rgba(46, 176, 134, 0.15) !important;
  border: 1px solid #2eb086;
}

.store_topPane {
  width: 60%;

  padding: 16px;
}

.store_bottomPane {
  width: 40%;
  padding: 16px 16px 16px 0;
}

.store_address_cards {
  display: flex;
  gap: 16px;
  height: 300px;
  overflow-y: scroll;
  flex-wrap: wrap;
  padding: 16px;
}

.store_cardText {
  /* cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  gap: 12px;

  width: 250px;
  height: 228.19px;

  background: #ffffff;
  box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: 8px; */

  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  padding: 24px;
  background: #ffffff;
  box-shadow: 4px 4px 25px rgb(0 0 0 / 10%);
  border-radius: 20px;
}

.store_Top {
  margin-bottom: 10px;
}

.store_features_contact {
  width: 100%;
  margin: 0px 30px;
  padding-left: 20px;
}

.store_locationDetailsMain {
  margin: 0 !important;
}

.store_left_content_form {
  background: white;
  border-radius: 8px;
  padding: 25px;
  /* margin: 20px; */
}

table td:last-child {
  text-align: right !important;
}

table {
  margin: 45px 0px;
}

tr {
  height: 0px !important;
}

td {
  border: 0;
}

/* .store_titleStyle {
  color: #606161;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  text-align: left;
} */

.store_card_whole {
  width: 48%;
  min-width: 300px;
  max-width: 700px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 16%);
  padding: 15px;
}

.store_image_div_style {
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 16%);
  display: flex;
  flex-basis: 30%;
  height: 110px;
  justify-content: center;
  padding: 5px;
  min-width: 110px;
  width: "30%";
}

.store_image_style {
  border-radius: 8px;
  height: 100%;
  width: 100%;
}

/* .store_product_title {
  color: #606161;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;

  word-break: break-all;
  font-size: 16px;
  font-weight: 500;
} */

.store_ordering_from {
  color: #606161;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  word-break: break-all;
  font-size: 12px;
  /* font-weight: 500; */
}

.store_card_price {
  color: #1c75bc;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.store_productsOverView {
  display: flex;
  gap: 16px;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
}

.store_total_wrapper {
  border-top: 1px solid #d6c7c7;
}



/*
 Copyright (C) 2022 Eunimart Omnichannel Pvt Ltd. (www.eunimart.com)
 All rights reserved.
 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.
 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/