input:focus {
  outline: none;
}

/* ---------------------------------------------------------------------------------- */

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Blue */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.spinner-container {
  /* display: grid; */
  justify-content: center;
  align-items: center;
  /* height: 350px; */
}

/* ------------------------------------------------------------------------------------- */

.wrapper {
  background-color: #f0f0f0;
  height: 100vh;
  min-height: 100vh;
  overflow: auto;
}

.top_bar {
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 15%);
  height: 60px;
  position: relative;
  z-index: 1;
}

/* .content_box {
  height: calc(100vh - 60px);
  overflow: auto;
} */

/* .top_bar {
  position: fixed !important;
  width: 100%;
  z-index: 1;
  top: 0;
} */

.top_bar_wrapper {
  /* height: 60px; */
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 37px;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  width: 100%;
  overflow: hidden;
  display: flex;
}

.top_bar_wrapper_login {
  height: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 37px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}

.right_top_wrapper {
  display: flex;
  margin: auto 0;
  text-align: right;
  width: 100%;
  justify-content: right;
}

.top_bottom {
  margin: 0px 20px !important;
}

/* .content_box {
  margin-top: 75px;
  background-color: #f9f9f9;
  display: flex;
} */

tr {
  height: 0px !important;
}

/* .left_content_box {
  width: 45%;
} */
/* 
.right_content_box {
  width: 55%;
  text-align: center;
} */

table {
  margin: 45px 0px;
}

.store_left_content_form {
  background: white;
  border-radius: 8px;
  padding: 25px;
  margin: 20px;
}

table td:last-child {
  text-align: right !important;
}

.left_top_wrapper {
  display: flex;
  column-gap: 35px;
  align-items: center;
}

/* .right_content_box img {
   width: 675px;
} */



/*
 Copyright (C) 2022 Eunimart Omnichannel Pvt Ltd. (www.eunimart.com)
 All rights reserved.
 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU Lesser General Public License v3.0 as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.
 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU Lesser General Public License v3.0 for more details.
 You should have received a copy of the GNU Lesser General Public License v3.0
 along with this program.  If not, see <https://www.gnu.org/licenses/lgpl-3.0.html/>.
*/